<header>
    <div class="left">
        <div class="heading">
            Our Vacation Stories
        </div>
        <div class="img-hero">
        </div>
        <div class="overlay"> 
        </div>
    </div>
    <div class="right">
        <div class="pictiles">
            <div class="one tile"><h1>Washington</h1></div>
            <div class="two tile"><h1>Florida</h1></div>
            <div class="three tile"><h1>Virginia</h1></div>
            <div class="four tile"><h1>Atlantic City</h1></div>
            <div class="five tile"><h1>Boston</h1></div>
            <div class="six tile"><h1>Mexico</h1></div>
            <div class="seven tile"><h1>Las Vegas</h1></div>
            <div class="eight tile"><h1>Arizona</h1></div>
            <div class="nine tile"><h1>Niagra Falls</h1></div>
        </div>
    </div>
</header>
<main>
    This is main
</main>
