.timeline-hero{
    height: 100vh;
    width: 100vw;
    background-color: #7FFFD4;
    background: linear-gradient(skyblue 10%, #7FFFD4 90%);
    display:flex;
    flex-direction: row;
}
.left{
    height: 100vh;
    width: 45vw; 
    position: relative;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity:0;
    z-index: 1;
}
.flex a{
    text-decoration: none;
    background: rgba( 255, 255, 255, 0.4 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 12.5px );
-webkit-backdrop-filter: blur( 12.5px );
border-radius: 2px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #ea5b70;
    z-index: 1;
    padding: 5px;
}
.places{
    position: absolute;
    top: 180px;
    left: 300px;
}
.plane{
    position: absolute;
    top: 0;
    left: 10;
    z-index: 1;
}
.plane svg{
    width: 100px;
    margin-top: 10px;
    transform: rotate(45deg);  
}
#path {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    stroke: purple;
    left: 50%;
  }
.rocket{
    width: 100px;
    height: 100px;
    margin-bottom: 900px;
}
.tree{
    position: absolute;
    top: 50px; 
   
}
.tree svg{ 
    width: 300px;
    height: 800px;
}
.cloud-1{
    position: absolute;
    left: 60px; 
    top: -10px;
}
.cloud-1 svg{
    width: 100px;
}
.cloud-1 svg #layer1{
    box-shadow: 0 8px 10px 10px grey;
}

.cloud-2{
    position: absolute;
    left: 170px; 
    top: -60px;
}
.cloud-2 svg{
    width: 250px;
}
.cloud-3{
    position: absolute;
    left: 450px; 
    top: -21px;
}
.cloud-3 svg{
    width: 140px;
}
.cloud-4{
    position: absolute;
    left: 650px; 
    top: -42px;
}
.cloud-4 svg{
    width: 50px;
}
.cloud-5{
    position: absolute;
    left: 550px; 
    top: -90px;
}
.cloud-5 svg{
    width: 70px;
}
#path10000{
    /* fill: rgb(238, 249, 247) !important;  */
}
#header-shape-gradient {
    --color-stop: #f2f9fe; 
    --color-bottom: #b0d8ec;
  }


.right{
    height: 100vh;
    width: 55vw;
    background-image: url('../images/20170527_095436.jpg');
    border-top-left-radius: 50% 58%; 
    border-bottom-left-radius: 50% 38%; 
    box-shadow: 0 10px 8px 10px #045f41;
}
.img-panel{
     background-position: right right;
     background-origin: padding-box;
     background-size: cover;
     background-repeat: no-repeat;
     background-blend-mode: overlay;
     object-fit: contain;
}
.direction{
    position: absolute;
    left: 500px;
    top: 300px;
}
#Capa_2{
    width: 300px;
}



 